.persegi {
    position: absolute;
    width: 1920px;
    height: 120px;
    left: 0px;
    top: 0px;
    background: #970C10;
}
.fitur-belajar {  
    position: absolute;
    width: 98px;
    height: 29px;
    left: 190px;
    top: 46px;
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.fitur-ikon-belajar {
    position: absolute;
    left: -100px;
    top: 0px;
}
.fitur-linimasa {
    position: absolute;
    width: 112px;
    height: 29px;
    left: 400px;
    top: 0px;
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.fitur-ikon-linimasa {
    position: absolute;
    left: 350px;
    top: -5px;
}
.fitur-pesan {
    position: absolute;
    width: 74px;
    height: 29px;
    left: 800px;
    top: 0px;
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.fitur-ikon-pesan {
    position: absolute;
    left: 750px;
    top: -5px;
}
.fitur-bendera-merah {
    position: absolute;
    width: 71px;
    height: 24px;
    left: 1300px;
    top: -10px;
    background: #FF2F2F;
}
.fitur-bendera-putih {   
    position: absolute;
    width: 71px;
    height: 24px;
    left: 1300px;
    top: 15px;
    background: #FFFFFF;
}
.fitur-akun-belum-terdaftar {
    position: absolute;
    width: 248px;
    height: 29px;
    left: 1400px;
    top: 0px; 
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px; 
    color: #FFFFFF;    
}
.fitur-ikon-akun-belum-terdaftar {
    position: absolute;
    left: 1630px;
    top: -20px;
}
.fitur-judul {
    position: absolute;
    width: 474px;
    height: 84px;
    left: 138px;
    right: 1308px;
    top: 185px;
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
    color: #970C10;
}
.fitur-subjudul {   
    position: absolute;
    width: 1084px;
    height: 110px;
    left: 61px;
    top: 372px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #947360;
}
.fitur-button {   
    position: absolute;
    width: 554px;
    height: 106px;
    left: 286px;
    top: 544px;
    background: #A1AFA0;
    border-radius: 69px;
}
.fitur-mulai-sekarang {
    position: absolute;
    width: 554px;
    height: 48px;
    left: 286px;
    top: 573px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}
.fitur-hiasan {  
    position: absolute;
    left: 1462px;
    top: 74px;
}
.fitur-hiasan-2 {
    position: absolute;
    left: 1170px;
    top: 427px;
}
.fitur-hiasan-3 {
    position: absolute;
    left: 1050px;
    top: 393px;
}
.fitur-hiasan-4 {
    position: absolute;
    left: 1100px;
    top: 769px;
}
.fitur-hiasan-5 {
    position: absolute;
    left: 1290px;
    top: 216px;
}
.fitur-hiasan-6 {
    position: absolute;
    left: 1130px;
    top: 260px;
}
.fitur-hiasan-7 {
    position: absolute;
    left: 850px;
    top: 572px;
}
.fitur-hiasan-8 {
    position: absolute;
    left: 970px;
    top: 816px;
}
.fitur-layar-gelap {
    position: absolute;
    width: 1920px;
    height: 1010px;
    left: -190px;
    top: 74px;
    background: rgba(0, 0, 0, 0.5);
}
.fitur-kotak-vocab {
    position: absolute;
    width: 1212px;
    height: 406px;
    left: 80px;
    top: 350px;
    background: #FFFFFF;
    border-radius: 46px;
}
.fitur-kotak-judul-vocab {
    position: absolute;
    left: 79px;
    top: 350px;
}
.fitur-judul-vocab {
    position: absolute;
    width: 1214px;
    height: 105px;
    left: 550px;
    top: 350px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.fitur-garis-1 {
    position: absolute;
    left: 80px;
    top: 500px;
}
.fitur-garis-2 {
    position: absolute;
    left: 80px;
    top: 580px;
}
.fitur-garis-3 {
    position: absolute;
    left: 80px;
    top: 660px;
}
.fitur-garis-tegak {
    position: absolute;
    left: 700px;
    top: 455px;
}
.fitur-kosakata {   
    position: absolute;
    width: 607px;
    height: 71px;
    left: 300px;
    top: 450px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.fitur-arti {   
    position: absolute;
    width: 607px;
    height: 71px;
    left: 953px;
    top: 450px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.fitur-kata-accompany {
    position: absolute;
    width: 178px;
    height: 39px;
    left: 150px;
    top: 535px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.fitur-kata-menemani {
    position: absolute;
    width: 157px;
    height: 39px;
    left: 800px;
    top: 535px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.fitur-kata-accuse {
    position: absolute;
    width: 112px;
    height: 39px;
    left: 150px;
    top: 615px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.fitur-kata-menuduh {
    position: absolute;
    width: 142px;
    height: 39px;
    left: 800px;
    top: 615px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.fitur-kata-accept {
    position: absolute;
    width: 108px;
    height: 39px;
    left: 150px;
    top: 695px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.fitur-kata-menerima {
    position: absolute;
    width: 159px;
    height: 39px;
    left: 800px;
    top: 695px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.fitur-tanda-silang {
    position: absolute;
    width: 33.94px;
    height: 33.94px;
    left: 1220px;
    top: 380px;
}